<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <loading v-model:active="visible" :can-cancel="true"></loading>
      <div class="my-1">
        <h5 class="text-center">總數：{{data.length}}</h5>
      </div>
      <div class="input-group">
        <input
          class="form-control form-control-lg"
          type="text"
          placeholder="請輸入編號"
          aria-label=".form-control-lg example"
          v-model="search"
        />
        <button
          class="btn btn-primary btn-sm"
          type="button"
          id="button-addon2"
          data-toggle="modal"
          data-target="#modal"
          @click="openModal({type:'new'})"
        >
          新增資料
        </button>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th width="90">日期</th>
            <th width="150">規格</th>
            <th width="60">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in dataFilter" :key="item.serial_number">
            <td>{{item.date}}</td>
            <td>
              <div>{{item.serial_number}}</div>
              <div>{{item.qty}} 個</div>
              <div><span class="badge badge-dark">{{item.size}}</span></div>
              <div v-show="item.memo">{{item.memo}}</div>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-warning btn-sm mb-3"
                @click="openModal({type:'edit',item})"
              >
                修改
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                @click="openModal({type:'del',item})"
              >
                刪除
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Modal -->
      <div
        class="modal fade"
        id="modal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <template v-if="modelState !== 'del'">
              <div class="modal-header">
                <h5
                  v-if="modelState === 'new'"
                  class="modal-title"
                  id="exampleModalLabel"
                >
                  新增
                </h5>
                <h5 v-else class="modal-title" id="exampleModalLabel">修改</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="needs-validation" novalidate>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >編號</label
                    >
                    <input
                      required
                      type="text"
                      class="form-control"
                      aria-describedby="emailHelp"
                      v-model="formData.data.serial_number"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >數量</label
                    >
                    <input
                      required
                      type="tel"
                      class="form-control"
                      aria-describedby="emailHelp"
                      v-model="formData.data.qty"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">尺碼</label>
                    <select class="form-control" id="exampleFormControlSelect1" v-model="formData.data.size">
                      <option value="XS">XS</option>
                      <option value="S">S</option>
                      <option value="M">M</option>
                      <option value="L">L</option>
                      <option value="XL">XL</option>
                      <option value="2XL">2XL</option>
                      <option value="3XL">3XL</option>
                      <option value="4XL">4XL</option>
                      <option value="5XL">5XL</option>
                      <option value="7XL">7XL</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >備註</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="emailHelp"
                      v-model="formData.data.memo"
                    />
                  </div>
                </form>
              </div>
            </template>
            <template v-else>
              <div class="modal-content border-0">
                <div class="modal-header bg-danger text-white">
                  <h5 id="exampleModalLabel" class="modal-title">
                    <span>刪除編號</span>
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  是否刪除
                  <strong class="text-danger"
                    >{{ formData.data.serial_number }}</strong
                  >
                  編號(刪除後將無法恢復)。
                </div>
                <div class="modal-footer" v-if="modelState === 'del'">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    data-dismiss="modal"
                  >
                    取消
                  </button>
                  <button type="button" class="btn btn-danger" @click="del">
                    確認刪除
                  </button>
                </div>
              </div>
            </template>
            <div class="modal-footer" v-if="modelState !== 'del'">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                取消
              </button>
              <button
                v-if="modelState === 'new'"
                type="button"
                class="btn btn-primary"
                @click="dataHandler"
                :disabled="verification"
              >
                新增
              </button>
              <button
                v-else
                type="button"
                class="btn btn-primary"
                @click="dataHandler"
              >
                修改
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@4/dist/vue-loading.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
    <script>
      const App = {
        components: {
          Loading: VueLoading,
        },
        setup() {
          const data = Vue.reactive([])
          const formData = Vue.reactive({ data: {} })
          const modelState = Vue.ref(null)
          const search = Vue.ref('')
          const visible = Vue.ref(false)
          const verification = Vue.ref(true)

          Vue.watch(formData, (newVal) => {
            if (newVal.data.serial_number) {
              verification.value = false
            }
          })

          const getData = () => {
            data.length = 0
            visible.value = true
            axios
              .get(
                'https://pnw8246-default-rtdb.asia-southeast1.firebasedatabase.app/pnw/data.json'
              )
              .then((res) => {
                Object.values(res.data).forEach((item, index) => {
                  data.push({ id: Object.keys(res.data)[index], ...item })
                })
                console.log(data)
                visible.value = false
              })
              .catch((error) => {
                console.log(error)
              })
          }

          const openModal = (data) => {
            modelState.value = data.type
            $('#modal').modal('show')
            openDataHandler(data)
          }

          const openDataHandler = (data) => {
            console.log(data)
            if (data.type === 'new') {
              formData.data = Object.assign({}, { qty: 1,size:'S' })
            } else {
              formData.data = Object.assign({}, data.item)
            }
          }

          const dataHandler = () => {
            let date = new Date()
            const formatDate = (date) => {
              let formatted_date =
                date.getDate() +
                '-' +
                (date.getMonth() + 1) +
                '-' +
                date.getFullYear()
              return formatted_date
            }
            if (modelState.value === 'new') {
              visible.value = true
              console.log(formData.data)
              axios
                .post(
                  'https://pnw8246-default-rtdb.asia-southeast1.firebasedatabase.app/pnw/data.json',
                  {
                    date: formatDate(date),
                    serial_number: formData.data.serial_number.toUpperCase(),
                    size: formData.data.size,
                    qty: formData.data.qty,
                    memo: formData.data.memo,
                  }
                )
                .then((res) => {
                  console.log(formData.data)
                  $('#modal').modal('hide')
                  visible.value = false
                  getData()
                })
                .catch((error) => {
                  console.log(error)
                })
            } else {
              visible.value = true
              axios
                .patch(
                  `https://pnw8246-default-rtdb.asia-southeast1.firebasedatabase.app/pnw/data/${formData.data.id}.json`,
                  {
                    serial_number: formData.data.serial_number.toUpperCase(),
                    qty: formData.data.qty,
                    memo: formData.data.memo,
                  }
                )
                .then((res) => {
                  $('#modal').modal('hide')
                  visible.value = false
                  getData()
                })
                .catch((error) => {
                  console.log(error)
                })
            }
          }

          const del = () => {
            visible.value = true
            axios
              .delete(
                `https://pnw8246-default-rtdb.asia-southeast1.firebasedatabase.app/pnw/data/${formData.data.id}.json`
              )
              .then((res) => {
                $('#modal').modal('hide')
                visible.value = false
                getData()
              })
              .catch((error) => {
                console.log(error)
              })
          }

          Vue.onMounted(() => {
            getData()
          })

          const dataFilter = Vue.computed(() => {
            if (search.value) {
              return data.filter(
                (item) =>
                  item.serial_number
                    .replace('-', '')
                    .indexOf(search.value.toUpperCase()) > -1
              )
            } else {
              return data
            }
          })

          return {
            data,
            formData,
            openModal,
            dataHandler,
            modelState,
            del,
            search,
            dataFilter,
            visible,
            verification,
          }
        },
      }

      Vue.createApp(App).use(VueLoading).mount('#app')
    </script>
  </body>
</html>
